# Node modules
node_modules/

# Environment variables file
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
frontend/node_modules/
backend/node_modules/

# Mac system files
.DS_Store

# IDE and editor directories
.vscode/
.idea/

# Optional: Build directories
frontend/dist/
backend/build/
